body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;

}
header h1{
    flex: 1;
    font-size: 50px;
    text-shadow: 2px 6px 5px  #ccc;
    padding: 0;
    margin: 0;

}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #aaa;
    font-weight: bold;
    min-width: 350px;

}
.info p{
    padding: 0;
    margin: 0;
}
.info a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
}

/*main section*/
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.row{
    width: 80%;
    margin: auto;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: 50px 0;*/
}
.row-wrapper{
    width: 45%;
}
.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}
.experience h2{
    font-size: 30px;
    text-shadow: 2px 2px 2px #fff;
}
.experience h3{
    margin: 0;
    padding: 0;
}
.experience div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.experience ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /*padding: 8px;*/
}
.experience ul li{
    padding: 5px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;

}
.skills h3{
    font-size: 30px;
}
.skills ul {
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;

}
.skills ul li{
    display: inline-flex;
    padding: 3px;
}

.education {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    margin: auto;

}
.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.education ul li{
    padding: 5px 0;
}

footer{
    height: 200px;
    margin-top: 20px;
}
@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
    }
}
